{% extends 'layouts/main.twig' %}

{% block content %}
        <h1>Каталог товаров</h1>
        <div class="card-box">
{#                {{ dump(products[0]) }}#}
        {% for product in products %}

                <div class="card">
                        <div class="card__header">
                                <a href="/product/one?id={{product.id}}">
                                        <div class="img_wrap">
                                                <img src="/images/{{ product.image }}" alt="Canon">
                                        </div>
                                </a>
                        </div>
                        <div class="card__body">
                                <a href="/product/one?id={{product.id}}">
                                        <h4 class="card__title">{{ product.name }}</h4>
                                </a>
                                <p class="card__price">{{ product.price }} руб.</p>
                                <a href="/basket/add?id={{ product.id }}" class="btn">Добавить в корзину</a><br><br>
                        </div>
                </div>
        {% else %}
                <p>Нет товаров</p>
        {% endfor %}
        </div>
{% endblock %}
